/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.example-tooltip-red {
  background: #b71c1c;
}

.mat-header {
  color: lightblue;
  font-weight: bold;
}
